# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Databases
instance/
*.sqlite3
*.db

# Large machine learning models & datasets
# (model.pkl is ~217MB, GitHub blocks files >100MB)
*.pkl
dataset.csv

# IDEs
.vscode/
.idea/
